<html>
    <head>
        <title>checkOut page</title>
    </head>
    <body>
        <h1><%= data.username %></h1>
        <h1><%= data.firstname %></h1>
        <h1><%= data.lastname %></h1>
        <h1><%= data.email %></h1>
        
    </body>
   
</html>