<html>
    <head>
        <title>checkOut page</title>
    </head>
    <body>
        <p id="p">this is akshay</p>
        <input type="text" id="name">
        <input type="button" id="butt" value="Button">
        <a href="hello">link</a>
        
    </body>
    <script src="/javascripts/test2.js"></script>
</html>