body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.cursive{ color: whitesmoke; font-family: 'Lato', sans-serif; font-size: 54px; font-weight: 300; line-height: 58px; margin: 0 0 58px; }

pre{
  font-style: Georgia;
}
.card{
      margin-bottom: 20px;
      float: left;
      margin: 20px;
      
}

/*search box css start here*/
.search-sec{
  padding: 2rem;
}
.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.wrn-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
@media (min-width: 992px){
  .search-sec{
      position: relative;
      top: -114px;
      /* background: rgba(26, 70, 104, 0.51); */
  }
}

@media (max-width: 992px){
  .search-sec{
      background: #1A4668;
  }
}